h1, h2, h3, h4, h5, h6, p, a {
    font-family: Lato;
}

a {
    font-size: 17px;
    text-decoration: none !important;
}

body {
    padding-top: 50px;
}

nav {
    background-color: white !important;
}

/* Button */
.btn-component {
    font-weight: bold;
    letter-spacing: 1px;
    padding: 8px 32px;
    min-width: 150px;
    text-align: center;
}

/* Overrides button text turning blue */
.btn-component:hover {
    color: black;
}

.navy-btn {
    color: black;
    background-color: transparent;
    border: 2px solid black;
}
/* End button */

/* top hero section */
.hero-section {
    position: relative;
    text-align: center;
}

.hero-image {
    width: 100%;
}
/* End hero section */

.heading {
    /* Text for the heading */
    text-align: center;
}

.name {
    display: inline-block;
    border-bottom: 1.5px solid black;
    padding: 5px;
}

.section-text {
    display: inline-block;
    border-top: 1.5px solid black;
    padding: 5px;
}
