.left-right {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

@media (max-width: 650px) {
    .left-right {
        grid-template-columns: repeat(1, 1fr);
    }
}

.content {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.section {
    background-color: #eeeeee;

    padding: 30px;
}

.dark-section {
    background-color: #bcbcbc;

    padding: 10px;
}

.image-container {
    padding: 20px;
    display: block;
    margin: 0 auto;
}

.padding {
    padding: 20px;
}
